<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="button" id="primary">Primary</a>
</p>

<p>
  <a class="button" id="secondary">Secondary</a>
</p>

<p>
  <a class="button" id="success">Success</a>
</p>

<p>
  <a class="button" id="danger">Danger</a>
</p>

<p>
  <a class="button" id="warning">Warning</a>
</p>

<p>
  <a class="button" id="info">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="weak-button" id="primary">Primary (unobtrusive)</a>
</p>

<p>
  <a class="weak-button" id="secondary">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="weak-button" id="success">Success (unobtrusive)</a>
</p>

<p>
  <a class="weak-button" id="danger">Danger (unobtrusive)</a>
</p>

<p>
  <a class="weak-button" id="warning">Warning (unobtrusive)</a>
</p>

<p>
  <a class="weak-button" id="info">Info (unobtrusive)</a>
</p>
